<a href="https://colab.research.google.com/github/GumpulaSriharshini/CANTEEN-MANAGEMENT-SYSTEM/blob/main/2216195_AIML_Bootcamp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#lists
a=list()
a.append(10)
print(a)
a.extend([20,30,40,50,60])
print(a)
a.insert(5,55)
print(a)
s=a.copy()
print("copy=",s)
a.remove(20)
print(a)
a.pop()
a=[40,1,4,7,9,4]
a.sort()
print(a)
a.reverse()
print(a)
a.count(10)
a.clear()
print(a)

[10]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 55, 60]
copy= [10, 20, 30, 40, 50, 55, 60]
[10, 30, 40, 50, 55, 60]
[1, 4, 4, 7, 9, 40]
[40, 9, 7, 4, 4, 1]
[]

In [19]:
#strings
str1="hello how are you"
str2="good morning \tiam harshini "
str3="apple"
t=("har","warangal")
print("captalize=",str1.capitalize())
print("casefold=",str1.casefold())
print("center=",str1.center(40,"*"))
print("count=",str1.count("l"))
print("endswith=",str1.endswith("y"))
print("expandtabs=",str2.expandtabs(10))
print("find=",str1.find("ha"))
print("format=",str2)
print("isupper=",str1.isupper())
print("istitle=",str1.istitle())
print("isspace=",str1.isspace())
print("isprintable=",str1.isprintable())
print("isnumeric=",str1.isnumeric())
print("islower=",str1.islower())
print("isdigit=",str1.isdigit())
print("index=",str1.index("h"))
print("join="," ".join(t))
print("ljust=",str1.ljust(35,"*"))
print("lower=",str1.lower())
print("lstrip=",str3.lstrip())
mytable=str1.maketrans("hr","gm")
print("partition=",str1.partition("ha"))
print("replace=",str1.replace("ha","gm"))
print("rfind=",str1.rfind("ha"))
print("rindex=",str1.rindex("h"))
print("rjust=",str1.rjust(10))
print("split=",str1.split())
print("splitlines=",str1.splitlines())
print("startswith=",str1.startswith("gd mrng"))
print("strip=",str3.strip())
print("swapcase",str1.swapcase())
print("title=",str1.title())
print("upper=",str1.upper())

captalize= Hello how are you
casefold= hello how are you
center= ***********hello how are you************
count= 2
endswith= False
expandtabs= good morning        iam harshini
find= -1
format= good morning 	iam harshini
isupper= False
istitle= False
isspace= False
isprintable= True
isnumeric= False
islower= True
isdigit= False
index= 0
join= har warangal
ljust= hello how are you******************
lower= hello how are you
lstrip= apple
partition= ('hello how are you', '', '')
replace= hello how are you
rfind= -1
rindex= 6
rjust= hello how are you
split= ['hello', 'how', 'are', 'you']
splitlines= ['hello how are you']
startswith= False
strip= apple
swapcase HELLO HOW ARE YOU
title= Hello How Are You
upper= HELLO HOW ARE YOU

In [6]:
#tuples
t=(29.8,"harshini",4,7,2,9,7)
print("count=",t.count(7))
print("index=",t.index("harshini"))

count= 2
index= 1

In [7]:
#Dictionaries
dict1={"name":"harsh","hallno":2137,"college":"sru"}
x=dict1.copy()
print("copy=",x)
print("get=",dict1.get("name"))
print("items",dict1.items())
print("keys=",dict1.keys())
dict1.pop("college")
print("pop=",dict1)
dict1.update({"hallno":2929})
print("update=",dict1)
dict1.setdefault("name","har")
print("popitem=",dict1)
print("values=",dict1.values())
dict1.clear()
print("clear=",dict1)

copy= {'name': 'harsh', 'hallno': 2137, 'college': 'sru'}
get= harsh
items dict_items([('name', 'harsh'), ('hallno', 2137), ('college', 'sru')])
keys= dict_keys(['name', 'hallno', 'college'])
pop= {'name': 'harsh', 'hallno': 2137}
update= {'name': 'harsh', 'hallno': 2929}
popitem= {'name': 'harsh', 'hallno': 2929}
values= dict_values(['harsh', 2929])
clear= {}

In [8]:
#sets
s={5,6,7,8}
s1={2,9,5,"hi"}
l=[3,6,9,12]
print(l)
sets=set(l)
print(sets)
s.update({8,9})
print(s)
s1.discard("har")
print(s1)
s1.remove(9)
print(s1)
#set operataions
a={5,6,7,8}
b={3,4,5,23}
#union
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(b-a)
print(a.difference(b))
print(b.difference(a))

[3, 6, 9, 12]
{9, 3, 12, 6}
{5, 6, 7, 8, 9}
{9, 2, 'hi', 5}
{2, 'hi', 5}
{3, 4, 5, 6, 7, 8, 23}
{3, 4, 5, 6, 7, 8, 23}
{3, 4, 5, 6, 7, 8, 23}
{5}
{5}
{5}
{8, 6, 7}
{3, 4, 23}
{8, 6, 7}
{3, 4, 23}

In [9]:
#number conversions
a=7
print("binary=",bin(a))
print("octal=",oct(a))
print("hextadecimal=",hex(a))

binary= 0b111
octal= 0o7
hextadecimal= 0x7

In [10]:
#arithmetic operators
a=int(input("enter first number"))
b=int(input("enter second number"))
#addition
print("a+b=",a+b)
#subtraction
print("a-b=",a-b)
#multiplication
print("a*b=",a*b)
#division
print("a/b=",a/b)
#modulos
print("a%b=",a%b)
#assignment operators
a = 10
a += 8
print ("a += 8 : ", a)
a -= 8
print ("a -= 8 : ", a)
a *= 8
print ("a *= 8 : ", a)
a /= 8
print ("a /= 8 : ",a)
a %= 4
print ("a %= 4 : ", a)
a **= 2
print ("a **= 2 : ", a)
a //= 3
print ("a //= 3 : ", a)
#comparison operators
a=int(input("enter first number"))
b=int(input("enter second number"))
print("a>b=",a>b)
print("a<b=",a<b)
print("a>=b=",a>=b)
print("a<=b=",a<=b)
print("a==b=",a==b)
print("a!=b=",a!=b)
#bitwise operators
a=int(input("enter first number"))
b=int(input("enter second number"))

print("a&b=",a&b)
print("a|b=",a|b)
print("a^b=",a^b)
print("~a=",~a)
print("a<<2=",a<<2)
print("b>>1=",b>>1)


#logical
a=int(input("enter first number"))
b=int(input("enter second number"))
print("aandb=",a and b)
print("aorb=",a or b)
print("not a=",not a)
print("not b=",not b)

#membership
a="hello iam harshini"
print("harshini" in a)
print("siddu" in a)
print("har" not in a)
#identity operator
x1=5
y1=5
x2="harshini"
print(x1 is y1)
print(x2 is not y1)

enter first number5
enter second number3
a+b= 8
a-b= 2
a*b= 15
a/b= 1.6666666666666667
a%b= 2
a += 8 :  18
a -= 8 :  10
a *= 8 :  80
a /= 8 :  10.0
a %= 4 :  2.0
a **= 2 :  4.0
a //= 3 :  1.0
enter first number5
enter second number2
a>b= True
a<b= False
a>=b= True
a<=b= False
a==b= False
a!=b= True
enter first number9
enter second number3
a&b= 1
a|b= 11
a^b= 10
~a= -10
a<<2= 36
b>>1= 1
enter first number5
enter second number1
aandb= 1
aorb= 5
not a= False
not b= False
True
False
False
True
True

In [11]:
#silcing
list1=["rose","jasmine",2,24]
print("list1=",list1)
print(list1[1::])
print(list1[1:2])
print(list1[::2])
print(list1[::-2])
print(list1[-1:-3])
list2=["pen","pencil","bench"]
list3=(list1,list2)
print(list3)
print(list3[0][1][3])
print(list3[1][2])
print(list3[0][0][::2])
print(list3[1][0][::2])

list1= ['rose', 'jasmine', 2, 24]
['jasmine', 2, 24]
['jasmine']
['rose', 2]
[24, 'jasmine']
[]
(['rose', 'jasmine', 2, 24], ['pen', 'pencil', 'bench'])
m
bench
rs
pn

In [12]:
print('A series of character designated as one object known as a string'[::-1][4::3])
print('----------')
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgerca  is
----------
ot emoc

In [13]:
P_phrase="was it a car or a cat I saw"
print(P_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [14]:
x=int(input())
y=2*x
print('Z'*x+'O'*y)

5
ZZZZZOOOOOOOOOO